@page
@model Zamagon.Web.Pages.OrdersModel
@using Zamagon.Model
@{
    ViewData["Title"] = "Orders";
}

<div class="row" style="background-color:lightgray;margin-bottom:20px;margin-top:10px;">
    <h2 class="text-center">Orders</h2>
    <h4 class="text-center">EndPoint: @Model.CurrentEndPoint?.Name</h4>
</div>

@if (Model.Data?.Any() ?? false)
{
    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th><label>ID</label></th>
                <th><label>ClientID</label></th>
                <th><label>OrderDate</label></th>
                <th><label>ProductID</label></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Order order in Model.Data)
            { 
                <tr>
                    <td><label>@order.ID</label></td>
                    <td><label>@order.ClientID</label></td>
                    <td><label>@order.OrderDate</label></td>
                    <td><label>@order.ProductID</label></td>
                </tr>
            }
        </tbody>
    </table>
}
